html {
    max-width: fit-content;
}

#background {
    background-image: url("bluemarble.jpeg");
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}

h1 {
        font-family: "Bungee Spice", sans-serif;
        font-weight: 400;
        font-style: normal;
    color: gold;
}
h3 {
    font-weight: bold;
    font-family: "pragmatapro-fraktur", serif;
    color: gold;
}

#leftnav{
    grid-column: span 2;
    width: max-content;
    padding-right: 25px;
    padding-left: 25px;
    align-content: center;
}
#leftnav a{
    background-color: navy;
    border: 5px solid gold;
    text-decoration: none;
    color: gold;
    padding: 25px;

    text-align: center;
}
#leftnav a:hover{
    color: whitesmoke;
}

#lefbanner {
    grid-column: span 2;
}

#midheader {
    background-color: navy;
    border-left: 5px solid gold;
    border-right: 5px solid gold;
    border-top: 5px solid gold;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    grid-column: span 8;
}

#rightnav {
    grid-column: span 2;
    width: max-content;
    padding-left: 25px;
    padding-right: 25px;
    align-content: center;
}

#rightbanner img {
    width: 100%;
}
#rightnav a{
    background-color: navy;
    border: 5px solid gold;
    text-decoration: none;
    padding: 25px;
text-align: center;
    color: gold;
}
#rightnav a:hover {
    color: whitesmoke;
}
main {
    background-color: rgb(79, 79, 150);
    grid-column: span 8;
    text-align: justify;
}
#subheader{
    grid-column: span 12;
    grid-row: 50px;
    border-top: 5px solid gold;
    border-bottom: 5px solid gold;
    background-color: navy;
    text-align: center;
    letter-spacing: 18px;
    opacity: 75%;
}

#subheader h3{
    font-family: 'Times New Roman', Times, serif;
}

img {
    width: 300px;
    height: 600px;
}

#leftbanner {
    grid-column: span 2;
    grid-row: span 6;
}


#photos{
    grid-column: span 4;
    align-content: center;
}

#photos img {
    width: 200px;
    height: 175px;
}

#photos ul {
    list-style: none;
}
#photos li {
    display: inline;
    padding: 50px;
}

#alien {
    box-shadow: 10px 10px 10px lime;
}

#circle {
    padding: 10px;
    width: 250px;
    height: 250px;
    border-radius: 500px;
}

#chicken {
    background-color: blue;
    box-shadow: -10px 10px 10px lightblue;
}

#description{
    grid-column: span 4;
}

#description p {
margin-left: 25px;
margin-right: 25px;
font-family: Verdana, Tahoma, sans-serif;
color: whitesmoke;
}


#rightbanner {
    grid-column: span 2;
}

footer {
    grid-column: span 8;
    background-color: navy;
    grid-column-start: 3;
    grid-column-end: 11;
    text-align: center;
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
  }

footer a {
    text-decoration: none;
}

footer a:hover {
    color: whitesmoke;
}

footer a:visited {
    color: gold;
}